<h1>Listing product_logs</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_logs.each do |product_log| %>
  <tr>
    <td><%= product_log.msg %></td>
    <td><%= product_log.created_at %></td>
    <td><%= link_to 'Show', product_log %></td>
    <td><%= link_to 'Edit', edit_product_log_path(product_log) %></td>
    <td><%= link_to 'Destroy', product_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product log', new_product_log_path %>
